body {
	font-family: arial;
	background: white;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
.block {
	padding: 110px 0 150px;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.promo {
	background-image: url('../images/background2.jpeg');
	background-size: cover;

	.logo {
		position: absolute;
		left: 10px;
		top: 0;

		h4 {
			font-size: 25px;
			color: white;
			border: 1px solid black;
			padding: 15px;
			background: black;
		}
	}
	.text {
		padding: 100px;
		background-image: url('../images/background1.jpeg');
		background-size: cover;

		.bands2and3 {
			display: inline-flex;
		}
		h2 {
			color: white;
			font-size: 50px;
			text-transform: uppercase;
			box-shadow: black;
			text-shadow: 1px 1px 1px #4c4b4b;
			margin-bottom: 0;
		}
		.review {
			margin-bottom: 40px;

			h4 {
				text-transform: uppercase;
				color: white;
				font-size: 15px;
				text-shadow: 1px 1px 1px #4c4b4b;
				margin-bottom: 10px;
			}
			.band1 {
				width: 738px;
				height: 72px;
				display: inline-flex;
				background: #222832;

				img {
					width: 72px;
				}
				p {
					color: white;
					text-shadow: 1px 1px 1px black;
					font-size: 15px;
					padding: 2px 8px 8px 25px;
				}
			}
			a {
				text-transform: uppercase;
				color: white;
				font-size: 18px;
				text-decoration: none;
				border: 1px solid red;
				padding: 12px 15px;
				background: red;
				margin-left: -200px;
			}
		}
		.group {
			margin-right: 100px;

			h4 {
				text-transform: uppercase;
				color: white;
				font-size: 15px;
				text-shadow: 1px 1px 1px #4c4b4b;
				margin-bottom: 10px;
			}
			.band2 {
				width: 350px;
				height: 50px;
				display: inline-flex;
				background: #222832;

				img {
					width: 50px;
				}
				p {
					color: white;
					text-shadow: 1px 1px 1px black;
					font-size: 15px;
					padding: 2px 8px 8px 25px;
				}
			}
			a {
				text-transform: uppercase;
				color: white;
				font-size: 18px;
				text-decoration: none;
				border: 1px solid red;
				padding: 12px 15px;
				background: red;
				margin-left: 310px;
			}
		}
		.discussion {
			h4 {
				text-transform: uppercase;
				color: white;
				font-size: 15px;
				text-shadow: 1px 1px 1px #4c4b4b;
				margin-bottom: 10px;
			}
			.band3 {
				width: 350px;
				height: 50px;
				display: inline-flex;
				background: #222832;

				img {
					width: 50px;
				}
				p {
					color: white;
					text-shadow: 1px 1px 1px black;
					font-size: 15px;
					padding: 2px 8px 8px 25px;
				}
			}
			a {
				text-transform: uppercase;
				color: white;
				font-size: 18px;
				text-decoration: none;
				border: 1px solid red;
				padding: 12px 15px;
				background: red;
				margin-left: 315px;
			}
		}
	}
}